#Crie um programa que faça o computador jogar Jokenpô com você.

from random import randint
import random
itens = ['Pedra', 'Papel', 'Tesoura']
maquina = randint(0,2) 

print("Escolha uma opção:\n"
      "[0] PEDRA\n"
      "[1] PAPEL\n"
      "[2] TESOURA\n")

op = int(input("Qual é a sua jogada? "))

print("JO\n"
      "KEN\n"
      "PO!!!\n")

print("-=-=-=-=-=-=-=-=-=-=-=\n"
    "Computador jogou {}\n".format(itens[maquina]))
print("Jogador jogou {}\n".format(itens[op]))
print("-=-=-=-=-=-=-=-=-=-=-=")

if (op == 0 and maquina == 2) or (op == 1 and maquina == 0) or (
    op == 2 and maquina == 1):
    print("Vitória do Jogador!")
    '''print("-=-=-=-=-=-=-=-=-=-=-=\n"
          "Computador jogou {}\n"
          "Jogador jogou{}\n"
          "-=-=-=-=-=-=-=-=-=-=-=".format(maquina, op))'''
elif (op == 2 and maquina == 0) or (op == 0 and maquina == 1) or (
    op == 1 and maquina == 2):
    print("Vitória do Computador!")
else:
    print("Empate!")

#elif op == 0 and maquina 
